{% extends "base.html" %}
{% load static %}
<title>{% block head_title %}{{ block.super }} | Contatti{% endblock head_title %}</title>

{% block content %}

    <h1>Contattami alla seguente.... <abbr title="Che burlone che sono...  :)" class="initialism" style="color: #000000"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></abbr></h1>
    <h1>Contattami alla seguente numero...  <abbr title="Che burlone che sono...  :)" class="initialism" style="color: #000000"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></abbr></h1>









{% endblock content %}